.searchTextFieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 375px;
  margin: auto;
}

.searchTextField {
  width: 100%;
}

.searchTextFieldContainerUpper {
  display: flex;
  justify-content: center;
  width: 375px;
  margin: auto;
}

.searchTextFieldContainerLower {
  display: flex;
  justify-content: center;
  width: 375px;
  margin: auto;
}
